{{/* 
  Local override for Stack theme's Google Analytics partial.
  Cloudflare Pages でビルド時に "partial \"google_analytics.html\" not found"
  となるのを防ぐためのダミー実装です。

  実際に GA を使いたい場合は、config でトラッキング ID を設定して
  下のコメントアウトされたスニペットを有効化してください。
*/}}

{{/* 
{{- with site.GoogleAnalytics -}}
<script async src="https://www.googletagmanager.com/gtag/js?id={{ . }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '{{ . }}');
</script>
{{- end -}}
*/}}


