{{ define "main" }}
    {{/* トップページには posts セクションの記事だけを出す */}}
    {{ $posts := where .Site.RegularPages "Section" "posts" }}
    {{/* HTMLファイルを除外（Markdownファイルのみを表示） */}}
    {{ $markdownOnly := where $posts ".File.Ext" "ne" "html" }}
    {{ $notHidden := where $markdownOnly "Params.hidden" "!=" true }}
    {{ $sorted := $notHidden.ByDate.Reverse }}
    {{ $pag := .Paginate $sorted }}

    <section class="article-list">
        {{ range $pag.Pages }}
            {{ partial "article-list/default" . }}
        {{ end }}
    </section>

    {{- partial "pagination.html" . -}}
    {{- partial "footer/footer" . -}}
{{ end }}

{{ define "right-sidebar" }}
    {{ partial "sidebar/right.html" (dict "Context" . "Scope" "homepage") }}
{{ end }}


